.line {
    display: inline-block;
    width: 33px;
    height: 33px;
    border-radius: 50%;
}

.load-3 {
    padding-bottom: 100px;

    .line:nth-last-child(1) {
        animation: loadingC 1.0s 0.2s linear infinite;
        background: #4E4377;
    }

    .line:nth-last-child(2) {
        animation: loadingC 1.0s 0.3s linear infinite;
        background-color: #A21F1B;
        margin-right: 34px;
    }

    .line:nth-last-child(3) {
        animation: loadingC 1.0s 0.4s linear infinite;
        background-color: #F9A51A;
        margin-right: 34px;
    }

    .line:nth-last-child(4) {
        animation: loadingC 1.0s 0.5s linear infinite;
        background-color: #5EA139;
        margin-right: 34px;
    }
}

@keyframes loadingC {
    0% {
        transform: scale(1.0);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1.0);
    }
}