.sign-in {
    background: url(../images/footer-bg.png)no-repeat center center/cover;

    .form-wrapper {
        max-width: 785px;
        padding: 20px;
        margin: auto;

        .check {
            height: 28px;
            width: 28px;
        }

        .agree,
        .login {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0.01em;
            color: #371900;
        }

        .redirect {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0.01em;
            color: #371900;
        }

        .transPbtn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            border: 1.5px solid #371900;
            border-radius: 6px;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0.01em;
            color: #371900;
            background: transparent;
            cursor: pointer;
        }


        .button-save {
            width: 255px;
            height: 40px;
            background: #371900;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
            border-radius: 20px;
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            color: #FFFFFF;
            margin-inline: 30px;
        }

        .button-cancel {
            width: 255px;
            height: 40px;
            left: 425px;
            top: 1159px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            color: #371900;
            border: 1px solid #371900;
            filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.25));
            border-radius: 20px;
            margin-inline: 30px;
        }

        .p-link {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            line-height: 37px;
            text-decoration-line: underline;
            color: #371900;

            @media(max-width: 767px) {
                font-size: 20px;
                line-height: 25px;
            }
        }
    }
}